<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="applicable-device" content="mobile">
    <title>玩转游戏平台-玩转盒子</title>
    <meta name="keywords" content="玩转网络游戏,游戏,玩转盒子">
    <meta name="description" content="玩转网络游戏,玩转盒子,游戏平台">
    <link rel="stylesheet" href="__CSS__/public.css">
    <!--<link rel="stylesheet" href="css/reset.css">-->
    <link rel="stylesheet" href="__CSS__/style.css">
</head>
<body class="wbg">
    <div class="waplogobox">
        <div class="waplogo">
            <img src="__IMG__/waplogo.png" alt="">
        </div>
        <div>
            <ul class="ov waploginnav">
                <li class="fl waploginaction"><span></span>渠道登录</li>
                <li class="fl"><span></span>用户登录</li>
            </ul>
            <div>
                <form action="/Mobile/User/waplogin" method="post">
                <div class="qudao qudaoaction">
                        <input class="input_merc" type="hidden" name="type" value="merc">
                        <!--      手机号      -->
                        <div class="input_box"><input class="input_merc" type="text" name="account" placeholder="请输入渠道账号！" oninput="if(value.length>11)value=value.slice(0,11)"></div>
                        <!--      密码      -->
                        <div class="input_box"><input class="input_merc" type="password" name="password" placeholder="请输入渠道密码！" maxlength="20"></div>
                        <!--      登录      -->
                        <div class="login_btn"><input class="input_merc" type="submit" value="登录"></div>
                </div>
                <div class="qudao">
                        <input class="input_user" type="hidden" name="type" value="user" disabled>
                        <!--      手机号      -->
                        <div class="input_box"><input class="input_user" type="text" name="account" placeholder="请输入用户账号！" oninput="if(value.length>11)value=value.slice(0,11)" disabled></div>
                        <!--      密码      -->
                        <div class="input_box"><input class="input_user" type="password" name="password" placeholder="请输入用户密码！" maxlength="20" disabled></div>
                        <!--      登录      -->
                        <div class="login_btn"><input class="input_user" type="submit" value="登录" disabled></div>
                </div>
                </form>
            </div>
            <div class="link_box"><a href="/Mobile/User/wapregister">新用户注册</a></div>
            <div class="waplogofooter"><span>忘记密码请联系渠道管理员</span></div>
        </div>

    </div>
    <script src='__JS__/jquery.js'></script>
    <script>
        //选项卡
        $(".waploginnav li").click(function(){
            var index = $(this).index();
            $(".waploginnav li").eq(index).addClass('waploginaction').siblings().removeClass('waploginaction');
            $(".qudao").eq(index).addClass('qudaoaction').siblings().removeClass('qudaoaction');
            if(index == 0){
                $(".input_user").attr("disabled","disabled");
                $(".input_merc").removeAttr("disabled");
            }else{
                $(".input_user").removeAttr("disabled");
                $(".input_merc").attr("disabled","disabled");
            };
        });
    </script>
</body>
</html>
