/*     个人中心右侧     */
.uc_right{width: 878px;border: 1px solid #ccc;background: #fff;min-height: 581px;padding: 30px 30px 0;margin-bottom: 40px;}

.buy_title span{font-size: 16px;text-align: center;}
.address_text{color: #ff6b63;cursor: pointer;}

.add_box{border: 1px solid #eee;margin-top: 30px;}
.address_title{height: 50px;line-height: 50px;background: #f5f5f5;padding: 0 30px;font-size: 14px;color: #333;}
.add1{width: 120px;text-align: center;font-size: 14px;color: #666;}
.add2{width: 326px;text-align: center;font-size: 14px;color: #666;}
.add3{width: 120px;text-align: center;font-size: 14px;color: #666;}
.add4{width: 120px;text-align: center;font-size: 14px;color: #666;}
.add5{width: 130px;text-align: center;font-size: 14px;color: #666;}
.address_ul{padding: 0 30px;}
.address_ul li{padding: 30px 0;border-bottom: 1px dashed #ccc;height: 40px;}
.address_ul li:last-child{border-bottom: 0;}
.add4 span{margin: 0 8px;cursor: pointer;}
.de_r{cursor: pointer;}
.default{border: 1px solid #ccc;background: #f9f9f9;color: #ff6b63;width: 100px;height: 30px;margin: 4px 14px;line-height: 30px;}
.add_l{line-height: 40px;}

/* 新增弹窗 */
.get_coupon_alert ,.get_del_alert{padding: 20px 40px 40px;}
.alert_title{margin-bottom: 30px;}
.alert_title span{font-size: 18px;color: #333;}
.alert_title i{display: inline-block;width: 23px;height: 23px;background: url(../../public/images/address/close_icon.png) no-repeat center;background-size: 23px 23px;}
.star{color: #d4282d;}
.form_name{font-size: 15px;color: #333;height: 30px;line-height: 30px;width: 87px;text-align: right;}
.sub_form_con select{width: 162px;height: 30px;margin: 0 5px;border: 1px solid #ccc;}
.sub_form ,.receiving_telephone{margin: 20px 0;}
.detail_address{width: 484px;height: 50px;margin: 0 5px;padding: 10px;font-size: 15px;color: #333;border: 1px solid #ccc;}
.receiver ,.phone_num{height: 34px;width: 180px;border: 1px solid #ccc;margin: 0 5px;padding-left: 10px;font-size: 15px;color: #333;}
.receiving{margin-right: 25px;}
.active_default_icon{display: inline-block;width: 18px;height: 18px;background: url(../../public/images/address/un_active_default.png) no-repeat center;background-size: 18px 18px;vertical-align: middle;margin: 0 5px;}
.active_icon{background: url(../../public/images/address/active_default.png) no-repeat center;background-size: 18px 18px;}
.default_text{vertical-align: middle;font-size: 15px;color: #333;}
.active_default{height: 46px;line-height: 42px;}
.sure{vertical-align: middle;width: 140px;height: 44px;line-height: 44px;text-align: center;color: #fff;font-size: 16px;background: #ff6b63;border: 1px solid #ff6b63;}
.cancel{vertical-align: middle;width: 140px;height: 44px;line-height: 44px;text-align: center;color: #fff;font-size: 16px;background: #ccc;border: 1px solid #ccc;margin-left: 6px;}
.btn{margin-left: 124px;}

/* 删除弹窗 */
.del_detail p{padding: 6px 0;}
.del_name{width: 90px;text-align: right;font-size: 15px;color: #999;}
.del_text{width: 90px;text-align: right;font-size: 15px;color: #333;}
.sub_form_del_btn{text-align: center;}


