/* 公共样式部分 */
@charset"utf-8";
body{font-family: Microsoft YaHei; word-wrap:break-word; word-break:break-all;}
*,p{margin: 0;padding: 0;}
li{list-style: none;}
ul, ol{list-style: none outside none;}
a{display: inline-block;text-decoration: none;color:#333333}a:active{color:#181818}
img{max-width:100%;display: block;border:none;}
input,textarea{outline: none;box-shadow:none;-webkit-appearance:none}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none}
input[type="number"]{-moz-appearance:textfield}
::-webkit-input-placeholder {color: #dbdbdb;}

/*  表单自动填充黄色   */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{ -webkit-box-shadow: 0 0 0 1000px white inset;}
input[type=text]:focus, input[type=password]:focus, textarea:focus {-webkit-box-shadow: 0 0 0 1000px white inset;}

/*  字体对齐方式  溢出*/
.text_l{text-align:left} .text_c{text-align:center}.text_r{text-align:right}
.ofh{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.word-b{word-break:break-all}

/*  块级转行级   */
.dib{display: inline-block;}

/*    flex布局   */
.flex{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center; align-items: center;}
.flexbox{-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}

/*   位置相关   */
.pr{position: relative;}.fl{float: left;}.fr{float: right;}
/*   清浮动   */
.cf:after{content:""; clear:both; display:table;}.cf {zoom:1;}
/*   显示隐藏  */
.show{display:block}.hide{display:none}