/*  banner  */
.banner-top{width: 100%;height: 0;background: url(../images/about-us.png) no-repeat;background-size: 100%;padding-bottom: 26.35%;}
.us p{font-size: .68rem;line-height: 1.1rem;color: #333;margin-top: .8rem;}














