<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>Document</title>
    <style>
    *{padding: 10px 15px;}
    </style>
</head>
<body>
    <form action="/Mobile/Merc/wapmerclogo" method="post">
        <input type="radio" name="type" value="merc">渠道登录
        <input type="radio" name="type" value="user">用户登录<br />
        用户：<input type="text" name="account" value="" /><br />
        密码：<input type="text" name="password" value="" /><br />
        <input type="submit" value="登录" /><br />
    </form>
</body>
</html>