/* dynamic-box */
.dynamic-box{padding: .4rem;}
.dynamic-title{font-size: .34rem;font-weight: 600;color: #333;margin-bottom: .26rem;line-height: .44rem;}
.sup-box{font-size: .26rem;color: #666;margin-bottom: .22rem;}
.author{margin-right: .26rem;}
.detail-box{font-size: .28rem;color: #333;line-height: .42rem;}
.detail-box img{width: 100%;padding: .4rem 0;}





