/*  header  */
.header{display: flex;height: .86rem;line-height: .86rem;background: #D0021B;color: #fff;}
.header-left{width: .64rem;height: .86rem;float: left;}
.back-icon{text-align: center;font-size: .4rem;}
.header-input{display: flex;flex: 1;height: .64rem;line-height: .64rem;margin-top: .12rem;background: #fff;border-radius: .1rem;color: #fff;}
.search-input{flex: 1;padding-left: .2rem;font-size: .28rem;border-top-left-radius: .1rem;border-bottom-left-radius: .1rem;color: #333;}
.search-icon{float: right;display: inline-block;width: .84rem;height: .64rem;font-size: .4rem;text-align: center;color: #ccc;}
.header-right{width: .74rem;height: .86rem;float: right;}

/*  swiper  */
.wrapper .swiper-pagination-bullet-active{background: #fff;}
.wrapper .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{bottom: 2px;}
.wrapper{overflow: hidden;width: 100%;height: 0;padding-bottom: 26.35%;background: #666;}
.swiper-img{width: 100%;height: 100%}

/*  hot-title  */
.hot-game{overflow: hidden;line-height: .8rem;background: #f5f5f5;padding: 0 .3rem;}
.hot-list{display: flex;}
.hot-li{flex: 1;padding: .2rem 0;text-align: center;}
.hot-img{width: 1.4rem;height: 1.4rem;border-radius: .3rem;}
.hot-title{width: 1.6rem;padding: .1rem 0;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #333;}
.hot-button{margin-top: .1rem;line-height: .54rem;background: #F76968;padding: 0 .2rem;border-radius: .1rem;color: #fff;display: inline-block;}

/*  ad  */
.ad{border-top: .2rem solid #f5f5f5;}
.border-right{border-right: 1px solid #f5f5f5;}
.ad-ul{display: flex;}
.ad-li{flex: 1;}
.ad-img{width: 100%;}

/*  recommend  */
.re-title{overflow: hidden;line-height: .8rem;background: #f5f5f5;padding: 0 .3rem;}
.title-left{float: left;}
.title-right{float: right;}
.item-list{margin: 0 .3rem;}
.item{overflow: hidden;display: flex;height: 1.8rem;}
.item-img{width: 1.4rem;height: 1.4rem;padding: .2rem 0;border-radius: .3rem;}
.item-info{flex: 1;padding: .2rem .08rem .2rem .2rem;min-width: 0;}
.item-title{line-height: .56rem;font-size: .32rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.item-desc{text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;line-height: .44rem;height: .88rem;color: #666;}
.item-button{height: .54rem;line-height: .54rem;background: #F76968;padding: 0 .2rem;border-radius: .1rem;margin: .63rem 0;color: #fff;}
.border-bottom{border-bottom: 1px solid #f5f5f5;}
.item-list li:last-child{border-bottom: 0;}
.swiper-pagination-bullet{width: 12px;height: 4px;border-radius: 2px;}

/*  footer  */
.footer{text-align: center;background: #f3f3f3;}
.ft-title{font-size: .28rem;color: #333;padding-top: 10px;}
.copy-info{font-size: .28rem;color: #9e9e9e;padding: 10px;}
