.bdy{padding: 0 .8rem;background: #e8d800;}
.bdy h1{padding: .6rem 0;}
.bdy p {font-size: .68rem;line-height: 1rem;padding-bottom: .6rem;}
.text{padding: .8rem;}
.text p{font-size: .68rem;line-height: 1rem;padding-bottom: .6rem;}
.pic img{width: 100%;height: 100%;padding: 0 .8rem;}
.unauthorized{background: #f7f7f7;font-size: .62rem;padding: .8rem;border-bottom: 1px solid #e6e6e6;color: #666;}
