.bdy{padding: 0 .8rem;background: #e8d800;}
.bdy h1{padding: .6rem 0;}
.bdy p {font-size: .68rem;line-height: 1rem;padding-bottom: .6rem;}
.text{padding: .8rem;}
.text p{font-size: .68rem;line-height: 1rem;padding-bottom: .6rem;}

