/*  header  */
.bar~.content{top: 0;}
.bar{background: none;}
.bar:after{background: none;}

/*  swiper  */
.downapp{position: absolute;color: #fff;bottom: 7rem;font-size: .74rem;border: 1px solid #fff;width: 5.4rem;height: 1.6rem;line-height: 1.6rem;text-align: center;border-radius: 1rem;left: 50%;margin-left: -2.7rem;}
.swiper-slide img{width: 100%;height: 100%;}
.content{overflow: hidden;}
.swiper-container{height: 100%;}
.c1 ,.c2 ,.c3{width: 100%;height: 100%;display: block;}
.c1{background: url("../../images/mpettap/c1.png") no-repeat;background-size: 100% 100%;}
.c2{background: url("../../images/mpettap/c2.png") no-repeat;background-size: 100% 100%;}
.c3{background: url("../../images/mpettap/c3.png") no-repeat;background-size: 100% 100%;}

.in-text{text-align: center;padding: 0 1.8rem;}
.in-title{color: #F2415C;font-size: .76rem;font-weight: 600;display: inline-block;border-bottom: 1px solid #F2415C;margin: 6rem 0 2.4rem;}
.in-content{color: #fff;font-size: .62rem;display: block;}
.arrow-left{font-size: 1.4rem;color: #9a6f27;position: absolute;bottom: 1rem;left: 1rem;}
.arrow{font-size: 1.4rem;color: #9a6f27;position: absolute;bottom: 1rem;right: 1rem;}

.i-hd-box{position: absolute;width: 50px;height: 50px;bottom: 1rem;left: 50%;margin-left: -25px;}
.i-hd{line-height: 50px;text-align: -webkit-center;font-size: .72rem;font-weight: 600;color: #757575;}
@keyframes living {
    0%{transform: scale(1);opacity: 0.5;}
    50%{transform: scale(1.5);opacity: 0;}
    100%{transform: scale(1);opacity: 0.5;}
}
.i-hd-box span{position: absolute;width: 50px;height: 50px;left: 0;bottom: 0;background: #fff;border-radius: 50%;-webkit-animation: living 3s linear infinite;z-index: -1;}
.i-hd-box span:nth-child(2){-webkit-animation-delay: 1.5s;}
