/*  footer  */
.footer{position: absolute;bottom: 0;left: 0;}
.content{background: url("../../images/mpettap/c2.png") no-repeat;background-size: cover;}

/*  popup  */
input::-webkit-input-placeholder {color: #fff;font-size: .72rem;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type="number"] {-moz-appearance: textfield;}
.code-box .on {cursor: not-allowed;}
body{position: relative;height: 100%;}
.popup-s{width: 90%;height: 11.6rem;position: absolute;top: 50%;left: 50%;border-radius: 10px;color: #fff;margin-left: -45%;margin-top: -8rem;}
.popup-s h4{text-align: center;font-size: .82rem;font-weight: 600;padding: .4rem 0;height: 2rem;}
.input-box{text-align: center;padding: .4rem 0;}
.input-text{border: 1px solid #FFF;color: #fff;width: 90%;height: 2rem;padding-left: .4rem;background: none;font-size: .76rem;border-radius: .3rem;}
.code{width: 50%;margin-right: 2%;height: 2rem;}
.code-btn{width: 38%;text-align: center;padding-left: 0;cursor: pointer;height: 2rem;}
.login-btn{background: #F2415C;width: 90%;color: #fff;height: 2rem;line-height: 2rem;border: 0;border-radius: .3rem;cursor: pointer;font-size: .78rem;font-weight: 600;}
.l-btn{padding: 1rem 0;}
.wel{font-size: .6rem;width: 100%;text-align: center;color: #fff;font-weight: 600;position: absolute;bottom: 1rem;}

