/* banner */
.banner-top{width: 100%;height: 0;background: url(../../images/mpettap/dynamic.png) no-repeat;background-size: 100%;padding-bottom: 26.35%;}
.news-list{overflow: hidden;}
.news-list li{border-bottom: .4rem solid #f7f7f7;padding: .8rem .8rem;width: 100%;}
.news-list li:last-child{border-bottom: 0;}
.news-list li a{display: block;}
.news-list li .pic {width: 100%;height: 8.8rem;border-radius: .3rem;overflow: hidden;display: block;}
.news-list li .pic img{width: 100%;min-height: 100%;}
.news-list li .item-pos {display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;-moz-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding: .4rem 0 .22rem;}
.news-list li .item-pos p {width: 74%;-webkit-box-flex: 0;-webkit-flex: 0 0 78%;-moz-box-flex: 0;-ms-flex: 0 0 78%;flex: 0 0 78%;font-size: .72rem;font-weight: 600;color: #333;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.news-list li .item-pos span {-webkit-box-flex: 1;-webkit-flex: 1;-moz-box-flex: 1;-ms-flex: 1;flex: 1;font-size: .6rem;color: #999;text-align: right;margin-top: .1rem;}
.news-list li .des {font-size: .62rem;line-height: 1rem;color: #666;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}

/*  分页  */
.pagination-large{text-align: center;display: block;padding-bottom: 1.2rem;}
.pagination-large ul ,.pagination-large li{overflow: hidden;display: inline-table;}
.pagination a{font-size: .68rem;padding: .2rem .5rem;color: #F2415C;display: inline-block;}
.li1{border-top-left-radius: .3rem;border-bottom-left-radius: .3rem;}
.li1 ,.li2 ,.li3{border: 1px solid #F2415C;border-right: 0;}
.li4{border: 1px solid #F2415C;border-top-right-radius: .3rem;border-bottom-right-radius: .3rem;}
